.wrap {
  height: 100vh;
  min-height: 800px;
  background-color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 50px;
  color: #eef1ef;
  padding-bottom: 50px;
}

.text {
  font-size: 20px;
  color: #eef1ef;
  line-height: 28px;
}

.portfolioWrap {
  width: 80vw;
  margin: 100px 0 50px 0;
}

.project {
  text-decoration: none;
  position: relative;
  text-align: center;
  transition-duration: 0.7s;
  height: 100%;
}

.projectWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eef1ef;
  padding: 0 20px;
  margin: 0 25px;
  min-height: 250px;
}

.projectHeader {
  font-size: 23px;
  margin-bottom: 10px !important;
  color: #3a4443;
  margin: 0;
}

.projectBottom {
  height: 70px;
}

.slickDots {
  bottom: -50px !important;
}

.slickDots li button:before {
  color: #ffbb6e !important
}

@media only screen and (max-width: 1600px) {
  .projectWrap {
    min-height: 300px;
  }

  .projectWrap {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 50px;
    font-size: 30px;
  }

  .portfolioWrap {
    height: 100vh;
    flex-direction: column;
  }

  .projectWrap {
    padding-bottom: 30px;
  }

  .text {
    text-align: center;
    padding: 0 20px;
  }

  .description {
    font-size: 15px;

  }
}