.wrap {
  height: 100%;
  background-color: #ffbb6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header {
  font-size: 50px;
  color: #3A4443;
  margin: 80px 0 50px 0;
}

.skillWrap {
  height: 100%;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 70px;

}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3A4443;
  margin: 30px 0;
  transition-duration: 0.5s;
}

.skills:hover {
  color: #000;
}

.icon {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .header {
    font-size: 30px;
  }

  .skillWrap {
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
  }


  .skills {
    margin: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .skillWrap {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .skillWrap {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 30px;
  }

  .skillWrap {
    font-size: 12px;
  }
}