.wrap {
  height: 100vh;
  background-color: #ffbb6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.header{
  font-size: 35px;
  color:#3A4443;
}

.skillWrap {
    height: 70vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; 
    font-size: 30px;
    
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#3A4443;
}

.skills:hover{
    color:#000;
    transition-duration: 0.3s;
}

.icon{
    font-size: 30px;
}

@media only screen and (max-width: 768px)
{
  .header{
    font-size: 30px;
  }
  .skillWrap{
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .skills{
    margin: 5px;
  }
}

@media only screen and (max-width: 600px)
{
  .skillWrap{
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px)
{
  .header{
    font-size: 20px;
  }

  .skillWrap{
    font-size: 12px;
  }
}

