.heroWrap {
  height: 100vh;
  background-color: #eef1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3a4443;
}

.heroPhoto {
  opacity: 100%;
  max-width: 150px;
  animation-name: photoControl;
  animation-duration: 4s;
}

.heroText {
  animation-name: photoControl;
  animation-duration: 4s;
}

.heroTextL2 {
  animation-name: photoControl;
  animation-duration: 4s;
  margin-top: 5px;
}

.heroPhotoLoading {
  max-width: 75px;
}

.heroHeader {
  padding: 15px;
  opacity: 100%;
  animation-name: textControl;
  animation-duration: 4s;
}

@keyframes textControl {
  0% {
    opacity: 0%;
  }

  33% {
    opacity: 100%;
  }

  66% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes photoControl {
  0% {
    opacity: 0%;
  }

  65% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}