.wrap {
  background: #3a4443;
  min-height: 59px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  cursor: alias;
  z-index: 1;
  filter: opacity(80%);
  transition-duration: 0.3s;
  animation-name: photoControl;
  animation-duration: 4s;
}
.wrap:hover {
  filter: opacity(100%);
}

.navWrap {
  float: right;
  padding-top: 20px;
}

.listElement {
  display: inline;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.listElement:hover {
  background-color: #ffbb6e;
  color: black;
}

@media only screen and (max-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: opacity(100%);
  }
  .listElement {
    padding: 20px 10px;
  }
  .navWrap {
    float: none;
    padding-top: 0;
  }
}

@keyframes photoControl {
  0% {
    opacity: 0%;
  }
  65%{
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
