.wrap {
  background: #3a4443;
  min-height: 60px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  cursor: alias;
}

.navWrap {
  float: right;
  padding-top: 22px;
}

.listElement {
  display: inline;
  padding: 0 20px 0 20px;
  color: #fff;
}

.listElement:hover {
  color: #ffbb6e;
}

@media only screen and (max-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .listElement {
    padding: 0 10px 0 10px;
  }
  .navWrap {
    float: none;
    padding-top: 0;
  }
}
